## INTRODUCTION TO TUPLES

A collection of items which are indexed, ordered and immutable
syntax: tuple_name = (item1, item2, item3,...)
                        |       |      |
                index:  0       1      2
order: can't change order 
immutable: can't be replace or change to another item

In [1]:
cars = ('Audi', 'Mercedes', 'BMW')
cars[4] = 'Ferrari' 
cars                                #error

TypeError: 'tuple' object does not support item assignment

Can have duplicates

In [ ]:
cars = ('Ferrari', 'Vinfast', 'BMW', 'Mercedes', 'Vinfast')
cars

('Ferrari', 'Vinfast', 'BMW', 'Mercedes', 'Vinfast')

## Tuple with one item
syntax: tuple_name = (item1, ) => (item1,)
        tuple_name = (item1)   => item1

In [ ]:
car = ('Vinfast',)
car     # => ('Vinfast', )

car = ('Vinfast')
car     # => 'Vinfast'

'Vinfast'

## length of a tuple
can be determined using the len() function
cars = ('Mercedes', 'Vinfast', 'BMW', 'Tesla')
len(cars)

In [11]:
cars = ('Mercedes', 'Vinfast', 'BMW', 'Tesla')
len(cars)

4

## The tuple() constructor
alternative way to create a tuple

In [12]:
cars = tuple(('Audi', 'Vinfast', 'BMW'))
cars

('Audi', 'Vinfast', 'BMW')

## Accessing tuple items through Positive Indexing
each item of a tuple can be accessed through its index 
syntex: tuple_name[index]

In [ ]:
cars = ('Vinfast', 'Mercedes', 'BMW')
cars[1]

current car:  Vinfast
current car:  Mercedes
current car:  BMW

Trying to access item out of the index range will result an IndexError
Providing float or any other data type as index will result in TypeError

In [ ]:
cars = ('Vinfast', 'Mercedes', 'BMW')
cars[3]   # not exists because it is out of range
cars[1.0]

TypeError: tuple indices must be integers or slices, not float

## Accessing tuple items through Negative Indexing
Index -1 refers to the last item, -2 refers to the second last item, and so on

In [19]:
cars = ('Vinfast', 'Mercedes', 'BMW')
cars[-1]
cars[-2]

'Mercedes'

## Accessing tuple items through Slicing
Range of items can be accessed using slicing
Syntax: tuple_name[index1:index2]

In [ ]:
cars = ('Vinfast', 'Mercedes', 'BMW')
cars[1:3]       #('Mercedes', 'BMW')
cars[1:]        #('Mercedes', 'BMW')
cars[:]         #('Vinfast', 'Mercedes', 'BMW')

('Mercedes', 'BMW')

# Updating a Tuple in Python
## Adding items to a Tuple
not possible to directly add items to a tuple as tuples are immutable
workaround: convert a tuple into a list

In [47]:
cars = ('Vinfast', 'Mercedes', 'BMW')
temp = list(cars)                       # convert a tuple into a list
temp.append('Toyota')
temp
cars = list(temp)
for car in cars:
    print("current car: ", car)

current car:  Vinfast
current car:  Mercedes
current car:  BMW
current car:  Toyota

## Updating a Tuple

In [ ]:
cars = ('Vinfast', 'Mercedes', 'BMW')
temp = list(cars)                       
temp[1] = 'Toyota'
cars = list(temp)
cars

['Vinfast', 'Toyota', 'BMW']

## Removing items of a Tuple

In [54]:
cars = ('Vinfast', 'Mercedes', 'BMW')
temp = list(cars)    
temp.remove('Mercedes')
cars = list(temp)
cars = tuple(temp)
cars

('Vinfast', 'BMW')

Remove the entire tuple using del keyword

In [56]:
cars = ('Vinfast', 'Mercedes', 'BMW')
del cars
cars

NameError: name 'cars' is not defined

# Unpacking a Tuple in Python
Unpacking a Tuple
Packing means assigning values to a tuple 
Unpacking means extracting values of a tuple

In [ ]:
cars = ('Vinfast', 'Mercedes', 'BMW')
car1, car2, car3 = cars
print(car1, car2, car3)                 #Vinfast Mercedes BMW
car1                                    #'Vinfast'
car2                                    #'Mercedes'
car3                                    #'BMW'

## Use of asterisk
Used when the number of variable are less than the values of a tuple

In [ ]:
cars = ('Vinfast', 'Mercedes', 'BMW', 'Ford', 'Toyota')
car1, car2, *car3 = cars
car1                    #'Vinfast'
car2                    #'Mercedes'
car3                    #['BMW', 'Ford', 'Toyota']

If asterisk is used with a variable other than the last variable, then the values are assigned until the values left matches the variables left

In [ ]:
cars = ('Vinfast', 'Mercedes', 'BMW', 'Ford', 'Toyota')
car1, *car2, car3 = cars
car1                    #'Vinfast'
car2                    #['Mercedes', 'BMW', 'Ford']
car3                    #'Toyota'

'Toyota'